@using System.Globalization
@model MyApp.Models.ViewModels.CartVM
<form method="post">
<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Shopping details</h5>
            </div>
            <div class="card-body">
            </div>
            <div class="col">
            </div>
            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" asp-for="@Model.OrderHeader.Name" class="form-control" />
                            <label class="form-label" for="form7Example1">Name</label>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="number" asp-for="@Model.OrderHeader.Phone" class="form-control" />
                        <label class="form-label" for="form7Example6">Phone Number</label>
                    </div>

                    <div class="form-outline mb-4">
                        <textarea class="form-control" asp-for="@Model.OrderHeader.Address" rows="4"></textarea>
                        <label class="form-label" for="form7Example4">Address</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" asp-for="@Model.OrderHeader.City" class="form-control" />
                        <label class="form-label" for="form7Example4">City</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" asp-for="@Model.OrderHeader.State" class="form-control" />
                        <label class="form-label" for="form7Example4">State</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" asp-for="@Model.OrderHeader.PostalCode" class="form-control" />
                        <label class="form-label" for="form7Example4">PinCode</label>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var details in @Model.ListOfCart)
                    {
                        <li class="list-group-item d-flex justify-content-between align-item">
                            <span>@details.Product.Name</span>
                            <span>QTY: @details.Count</span>
                            <span>@(((details.Product.Price) * (details.Count)).ToString("C", CultureInfo.CreateSpecificCulture("hi-IN")))</span>
                        </li>
                    }
                    <li class="list-group-item d-flex justify-content-between align-item">
                        <div>
                            <strong>Total Amount</strong>
                            <strong>
                                <p class="mb-0">(Including VAT)</p>
                            </strong>
                        </div>
                        <span><strong>@Model.OrderHeader.OrderTotal.ToString("C", CultureInfo.CreateSpecificCulture("hi-IN"))</strong></span>
                    </li>
                </ul>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Make purchase
                </button>
            </div>

        </div>
    </div>
</div>
</form>

